.Button {
    height:40px;
    margin:8px 8px; 
  }
  
  .SelectedButton {
    background-color: hsl(130, 50%,50%);
    color: white;
  }

  .historyBtn {
    /* background-color: tomato; */
    /* background-color: rgb(51, 156, 156); */
    background-color: rgb(68, 64, 64);
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    /* border-color: rgb(51, 156, 156); */
    border-color: rgb(68, 64, 64);
    margin-top: 5px;
  }

  .historyButtonSelected {
    /* background-color: rgb(238, 60, 37); */
    background-color: rgb(238, 219, 135);
    color: black;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    /* border-color: rgb(238, 60, 37); */
    border-color: rgb(236, 165, 57);
    margin-top: 5px;
  }